<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtCn8Db52PsxnDBWFjhRF310vB5j2TqzI</string>
	<key>GCM_SENDER_ID</key>
	<string>849657010638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diaryApp</string>
	<key>PROJECT_ID</key>
	<string>diary-app-project-48a46</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-app-project-48a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849657010638:ios:ab66835ba55189549e739f</string>
</dict>
</plist>